<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!-- Consider adding a manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="">

  <!-- Mobile viewport optimized: h5bp.com/viewport -->
  <meta name="viewport" content="width=device-width">

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/style.css">
  <!-- <link href="//fonts.googleapis.com/css?family=Goudy+Bookletter+1911|Raleway:300" rel="stylesheet" type="text/css"> -->

  <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->
  
  <!-- HTTPS stuff from https://sheharyar.me/blog/free-ssl-for-github-pages-with-custom-domains/ -->
  <link rel="canonical" href=" {{ site.url }}{{ page.url }}" />
  <script type="text/javascript">
    var host = "www.dantasse.com";
    if ((host == window.location.host) && (window.location.protocol != "https:"))
        ;// derp not yet, wait for DNS records to migrate to cloudflare // window.location.protocol = "https";
  </script>
  <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
  <script src="js/libs/modernizr-2.5.3.min.js"></script>
</head>
<body>
  <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
  <!--[if lt IE 7]>
    <p class=chromeframe>
    Hello! I'm guessing that you're using IE6 because you have to. Sorry
    about that. Perhaps
    <a href="http://www.google.com/chromeframe/?redirect=true">Chrome Frame</a>
    would make things easier.
    If you *don't* have to use Internet Explorer, try <a href="http://www.google.com/chrome">
    Chrome</a>. I might be biased, but I think it's a pretty good one.
    </p>
  <![endif]-->
  <header>

  </header>
  <div role="main" class="main">
    <div class="container_fluid maincenter">
      <div class="row">
        <div class="span12 my_name">
          <a href="index.html">Dan Tasse</a>
        </div>
      </div>
      <div class="row_fluid">
        <div class="span2 nav">
          <ul class="nav unstyled">
            <li><a href="projects.html">Projects</a></li>
            <!-- <li><a href="other.html">Other</a></li> -->
            <li><a href="cv.pdf">CV</a></li>
          </ul>
        </div>
        <div class="span10 content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
  <footer>

  </footer>


  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery; fall back to local if offline -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.8.3.min.js"><\/script>')</script>
  <!-- TODO also copy backstretch locally -->

  <!-- scripts concatenated and minified via build script -->
  <!-- <script src="js/plugins.js"></script> -->
  <!-- <script src="js/script.js"></script> -->
  <!-- end scripts -->

  <!-- Asynchronous Google Analytics snippet.
       mathiasbynens.be/notes/async-analytics-snippet -->
  <script>
    var _gaq=[['_setAccount','UA-15678420-1'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
</body>
</html>
